
header{
   background-color: cornflowerblue;
   background-image: url(../img/pattern.png);
   height: 100px;
   background-size: contain;
    

}

#logo{ 
    width: 200px;
    padding-left: 200px;
    padding-top: 40px;
}

main{
    padding-left: 200px;
    padding-right: 200px;
}